<article class='bg-slate-50 border border-slate-300 max-w-md rounded-md flex flex-col'>
  <div class='p-2 border-b border-y-slate-300 text-center'>
    <h4 class='text-lg text-gray-700 font-semibold'>
      <%= link_to insta_user.at_username, insta_user_posts_path(insta_user), class: 'hover:text-violet-700' %>
    </h4>
  </div>

  <div class='p-2 border-b border-y-slate-300 flex-grow'>
    <div class='text-center space-y-2'>
      <div class='text-sm'>
        <%= turbo_frame_tag 'counter', src: media_count_insta_user_path(insta_user, format: :turbo_stream), loading: :lazy %>
        <b id="<%= insta_user.id %>_media_count" class='text-violet-700'>
          <i class="fa-solid fa-circle-notch fa-spin"></i>
        </b>
        posts detected
      </div>

      <div class='text-sm'>
        <b><%= insta_user.insta_posts_count %></b>
        posts imported
      </div>

      <%= button_to import_insta_user_path(insta_user), class: 'bg-violet-50 border border-dotted border-violet-300 rounded-md p-2 hover:bg-violet-100 text-violet-700' do %>
        <i class="fa-solid fa-cloud-arrow-down text-violet-700"></i>
        <span>Import posts</span>
      <% end %>

      <% if insta_user.last_import_at.present? %>
        <span class='text-xs text-slate-500'>
          Last import:
          <%= insta_user.last_import_at.to_fs(:long) %>
        </span>
      <% end %>
    </div>
  </div>

  <div class='p-2'>
    <div class='flex justify-end text-xs text-slate-600'>
      <%= button_to insta_user, method: :delete, form: { data: { turbo_confirm: t('insta_users.destroy.confirm') } }, class: 'hover:text-red-600' do %>
        <i class="fa-solid fa-trash"></i>
        <span>Delete</span>
      <% end %>
    </div>
  </div>
</article>
