<div class='flex flex-col space-y-4 items-center'>
  <div class='text-sm text-gray-700 font-semibold'>
    <%= link_to_unless_current @insta_user.at_username, insta_user_posts_path(@insta_user) %>
  </div>

  <% unless @insta_user.insta_posts_count.zero? %>
    <%= link_to insta_user_posts_path(@insta_user), class: 'bg-slate-50 border border-slate-300 rounded-md p-4 hover:bg-slate-100' do %>
      🖼 Posts: <%= @insta_user.insta_posts_count %>
    <% end %>
  <% end %>

  <% if @insta_user.user == current_user %>
    <% if @insta_user.insta_posts_count.zero? %>
      <div class='text-center'>
        <p>
          We have detected
          <strong><%= @insta_user.media_count %></strong>
          accessible posts on your instagram feed.
        </p>
        <p>
          Click 'Import' to continue!
        </p>
      </div>
    <% else %>
      <div class='text-center'>
        <p>
          Don't see your latest posts in the feed?
        </p>
        <p>
          Click <strong>Import</strong>!
        </p>
          Your posts are refreshed only when you click <strong>Import</strong>.
        </p>
        <p>
          To automatically refresh posts, check our
          <b><%= link_to 'Pricing', pricing_path %></b>.
        </p>
      </div>
    <% end %>

    <div class='text-center'>
      <%= button_to import_insta_user_path(@insta_user), class: 'bg-slate-50 border border-slate-300 rounded-md p-4 hover:bg-slate-100' do %>
        <span>▶️ Import posts</span>
      <% end %>
      <% if @insta_user.last_import_at.present? %>
        <span class='text-xs text-slate-500'>
          Last import:
          <%= @insta_user.last_import_at.to_fs(:long) %>
        </span>
      <% end %>
    </div>

    <div class='text-center'>
      Unsatisfied?
      <p>
      <%= link_to 'Disconnect instagram', '/instagram/deauthorize', class: 'text-blue-600 hover:text-red-600', target: '_blank', rel: 'noopener' %>
      </p>
      <p>
      <%= link_to 'Delete all my data', '/instagram/delete', class: 'text-blue-600 hover:text-red-600', target: '_blank', rel: 'noopener' %>
      </p>
    </div>
  <% end %>
</div>
