<article class='bg-slate-50 border border-slate-300 max-w-md py-4 rounded-md hover:bg-slate-100'>
  <div class='px-4 pb-4 text-sm text-gray-700 font-semibold'>
    <%= link_to_unless_current @insta_user.at_username, insta_user_posts_path(@insta_user) %>
  </div>
  <div>
    <% if post.image? || post.carousel_album? %>
      <%= image_tag post.media_url %>
    <% elsif post.video? %>
      <%= video_tag post.media_url, poster: post.thumbnail_url, controls: true %>
    <% end %>
  </div>
  <div class='p-4 border-b border-y-slate-300'>
    <p class='text-gray-700 font-light'>
      <i class="fa-regular fa-clock"></i>
      <%= post.timestamp.to_fs(:long) %>
    </p>
    <%= highlight(simple_format(post.processed_caption), params[:caption]) %>
  </div>
  <div class='px-4 pt-4'>
    <div class='flex justify-between text-2xl text-gray-700'>
      <%= link_to insta_user_post_path(post.insta_user, post), class: 'hover:text-pink-600' do %>
        <i class="fa-regular fa-eye"></i>
      <% end %>
      <%= link_to post.permalink, target: '_blank', rel: 'noopener', class: 'hover:text-pink-600' do %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
    </div>
    <div data-controller="clipboard">
      <input data-clipboard-target="source"
            class="font-extralight text-xs h-6 rounded-md"
            type="text" value="<%= insta_user_post_url(post.insta_user, post) %>" readonly>
      <button data-clipboard-target="trigger" data-action="clipboard#copy">
        <i class="fa-regular fa-copy"></i>
        Copy link
      </button>
    </div>
  </div>
</article>
