<div class='flex flex-col space-y-4 items-center'>
  <div>
    <%= @insta_user.display_username %>
  </div>

  <%= form_with url: insta_user_posts_path(@insta_user),
                method: :get,
                data: { controller: 'debounce',
                        debounce_target: 'form',
                        turbo_frame: 'results' } do |form| %>
    <%= form.text_field :caption,
                        placeholder: 'Caption',
                        value: params[:caption],
                        autocomplete: 'off',
                        autofocus: true,
                        class: 'rounded-md border border-slate-300',
                        data: { action: 'input->debounce#search' } %>
  <% end %>

  <%= turbo_frame_tag 'results', target: '_top', data: { turbo_action: 'advance' } do %>
    <%#= request.url %>
    <%#= link_to 'Clear search', request.path if request.query_parameters.any? %>

    <div class='flex flex-col space-y-4 items-center'>
      <% @posts.each do |post| %>
        <%= render partial: 'insta_posts/insta_post', locals: { post: } %>
      <% end %>
    </div>
  <% end %>
</div>
