<footer class='bg-slate-50 border border-slate-300 h-16 flex items-center justify-between px-10 w-full mt-auto'>
  <div class=''>
    <strong>
      <%= link_to Rails.application.class.module_parent.name, root_path %>
    </strong>
    <%= link_to 'Terms', terms_path %>
    <%= link_to 'Privacy', privacy_path %>
    <%= link_to 'Pricing', pricing_path %>
  </div>
  <div class=''>
    <br>
    plausible analytics
    github
    Yaroslav Shmarov
    <%= Time.zone.now.year %>© 
    All Rights Reserved.

    Instagram
    Twitter
  </div>
</footer>
