<nav class='bg-slate-50 border border-slate-300 h-16 flex items-center justify-between px-6'>
  <div class='flex items-center font-bold'>
    <%= image_tag 'itos-logo.png', class: 'w-10' %>
    <%= link_to Rails.application.class.module_parent.name, root_path %>
  </div>
  <% if current_user %>
    <%= link_to insta_users_path, class: 'flex space-x-2' do %>
      <span>🧭</span>
      <span class='hidden lg:block'>browse</span>
    <% end %>
    <%= link_to insta_user_path(current_user), class: 'flex space-x-2' do %>
      <span>☺️</span>
      <span class='hidden lg:block'><%= current_user.at_username %></span>
    <% end %>
    <%= button_to logout_path, method: :delete, class: 'flex space-x-2', form: { data: { turbo_confirm: 'Log out?' } } do %>
      <span>👋</span>
      <span class='hidden lg:block'>Logout</span>
    <% end %>
  <% else %>
    <%= link_to instagram_authorize_path, class: 'flex space-x-2 font-bold bg-violet-700 hover:bg-violet-900 text-fuchsia-50 p-2 rounded-md' do %>
      <span>🎯</span>
      <span>START</span>
    <% end %>
  <% end %>
</nav>
