<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'itos-logo.png' %>
    <script defer data-domain="insta2blog.com" src="https://plausible.io/js/plausible.js"></script>
    <%= display_meta_tags site: Rails.application.class.module_parent.name,
                          description: 'One click blog from your Instagram.',
                          author: 'Yaroslav Shmarov',
                          keywords: 'insta2site, instagram, blog', reverse: true %>
  </head>

  <body class="flex flex-col min-h-screen bg-slate-100">
    <header>
      <%= render 'shared/nav' %>
      <div id="flash" class="right-2 mt-2 w-56 absolute space-y-2 z-10">
        <%= render 'shared/flash' %>
        <%= render 'shared/flash' %>
      </div>
    </header>
    <main class='p-4 break-normal'>
      <%= yield %>
    </main>
  </body>
  <%# unless infinite scroll page %>
  <%= render 'shared/footer' %>
</html>
