<!DOCTYPE html>
<html>
  <head>
    <title>Insta2blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'shared/flash' %>
    </header>
    <%= render 'shared/nav' %>
    <main class='p-4 bg-slate-100 break-normal'>
      <%= yield %>
    </main>
  </body>
  <%# unless infinite scroll page %>
  <%= render 'shared/footer' %>
</html>
